
<!DOCTYPE html>
<%- include('header') %>
<body>
    <!-- https://codepen.io/gius-mili/pen/ZEoJGrB -->
    <header>
        <h1>
            <%= pageTitle %>
        </h1>
    </header>
    <!-- main -->
    
    <%- include('main') %>

    <!-- footer -->
    
    <%- include('footer') %>
   
</body>
</html>